
body,
p,
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: sans-serif;
}


form {
  max-width: 620px;
  margin: auto;
    padding: 10px
  
}



.form-control:active,
.form-control:focus {
  border-color: #87CEFA;
  box-shadow: none;
}

#calculator{
    
margin-top: 60px;
}

.jumbotron {
  padding: 40px 0;
}

.jumbotron h1 {
  font-size: 40px;
  font-weight: bold;
  color: #483D8B;
    font-family: cursive;
  
}

.jumbotron h6 {
    font-size: 18px;
    font-kerning: normal;
    color: #483D8B;
}

.card-body {
    background: #F0F8FF;
}

.card-text{
    color: #483D8B;
}


footer {
  margin-top: 30px;
}

footer .jumbotron {
  padding: 20px 0;
}

footer .jumbotron p {
  margin-bottom: 0;
    color: #483D8B;
}

footer a,
footer a:hover {
  color: #c3232a;
}

.footer {
margin-top: 50px;
}
